[Desktop Entry]
Name=Calendar Decoration Interface
Name[ca]=Interfície de decoració del calendari
Name[fi]=Kalenteritekstin koristeluliitännäinen
Name[gl]=Interface de decoración de calendarios
Name[nb]=Grensesnitt til kalenderpynt
Name[nl]=Interface van agendadecoratie
Name[nn]=Grensesnitt til kalenderpynt
Name[pt]=Interface de Decoração do Calendário
Name[pt_BR]=Interface de decoração do calendário
Name[sk]=Rozhranie dekorácie kalendára
Name[sv]=Gränssnitt för kalenderdekoration
Name[uk]=Інтерфейс оздоблення календаря
Name[x-test]=xxCalendar Decoration Interfacexx
Name[zh_CN]=日历装饰界面
Type=ServiceType
X-KDE-ServiceType=Calendar/Decoration
Comment=Calendar Decoration Plugin
Comment[ca]=Connector de decoració del calendari
Comment[fi]=Kalenteritekstin koristeluliitännäinen
Comment[gl]=Engadido para a decoración do calendario
Comment[nb]=Programtillegg for kalenderpynt
Comment[nl]=Agendadecoratieplug-in
Comment[nn]=Programtillegg for kalenderpynt
Comment[pt]='Plugin' de Decoração do Calendário
Comment[pt_BR]=Plugin para decoração do calendário
Comment[se]=Kaleandarčiŋaid lassemoduvla
Comment[sk]=Modul pre skrášlenie kalendára
Comment[sv]=Insticksprogram för kalenderdekoration
Comment[uk]=Додаток прикрас календаря
Comment[x-test]=xxCalendar Decoration Pluginxx
Comment[zh_CN]=日历装饰插件
