[Desktop Entry]
Name=Calendar Decoration Interface
Name[ca]=Interfície de decoració del calendari
Name[ca@valencia]=Interfície de decoració del calendari
Name[de]=Dekoration für den Kalender
Name[en_GB]=Calendar Decoration Interface
Name[es]=Interfaz de decoración del calendario
Name[fi]=Kalenteritekstin koristeluliitännäinen
Name[fr]=Interface de décoration d'agenda
Name[gl]=Interface de decoración de calendarios
Name[it]=Interfaccia di decorazione del calendario
Name[nb]=Grensesnitt til kalenderpynt
Name[nl]=Interface van agendadecoratie
Name[nn]=Grensesnitt til kalenderpynt
Name[pl]=Interfejs do ozdób kalendarza
Name[pt]=Interface de Decoração do Calendário
Name[pt_BR]=Interface de decoração do calendário
Name[ru]=Оформление календаря
Name[sk]=Rozhranie dekorácie kalendára
Name[sl]=Vmesnik za okraske koledarja
Name[sr]=Сучеље за декорацију календара
Name[sr@ijekavian]=Сучеље за декорацију календара
Name[sr@ijekavianlatin]=Sučelje za dekoraciju kalendara
Name[sr@latin]=Sučelje za dekoraciju kalendara
Name[sv]=Gränssnitt för kalenderdekoration
Name[uk]=Інтерфейс оздоблення календаря
Name[x-test]=xxCalendar Decoration Interfacexx
Name[zh_CN]=日历装饰界面
Type=ServiceType
X-KDE-ServiceType=Calendar/Decoration
Comment=Calendar Decoration Plugin
Comment[ca]=Connector de decoració del calendari
Comment[ca@valencia]=Connector de decoració del calendari
Comment[de]=Dekoration für den Kalender
Comment[en_GB]=Calendar Decoration Plugin
Comment[es]=Complemento de decoración del calendario
Comment[fi]=Kalenteritekstin koristeluliitännäinen
Comment[fr]=Module de décoration d'agenda
Comment[gl]=Engadido para a decoración do calendario
Comment[it]=Estensione di decorazione del calendario
Comment[nb]=Programtillegg for kalenderpynt
Comment[nl]=Agendadecoratieplug-in
Comment[nn]=Programtillegg for kalenderpynt
Comment[pl]=Wtyczka do ozdób kalendarza
Comment[pt]='Plugin' de Decoração do Calendário
Comment[pt_BR]=Plugin para decoração do calendário
Comment[ru]=Оформление календаря
Comment[se]=Kaleandarčiŋaid lassemoduvla
Comment[sk]=Modul pre skrášlenie kalendára
Comment[sl]=Vstavek za okraske koledarja
Comment[sr]=Прикључак за декорацију календара
Comment[sr@ijekavian]=Прикључак за декорацију календара
Comment[sr@ijekavianlatin]=Priključak za dekoraciju kalendara
Comment[sr@latin]=Priključak za dekoraciju kalendara
Comment[sv]=Insticksprogram för kalenderdekoration
Comment[uk]=Додаток прикрас календаря
Comment[x-test]=xxCalendar Decoration Pluginxx
Comment[zh_CN]=日历装饰插件
