[Desktop Entry]
Name=Calendar Decoration Interface
Name[ar]=واجهة زخرفة التّقاويم
Name[ca]=Interfície de decoració del calendari
Name[ca@valencia]=Interfície de decoració del calendari
Name[cs]=Rozhraní dekorace kalendáře
Name[da]=Kalenderdekorations-grænseflade
Name[de]=Dekoration für den Kalender
Name[en_GB]=Calendar Decoration Interface
Name[es]=Interfaz de decoración del calendario
Name[et]=Kalendri dekoratsiooni liides
Name[eu]=Calendar Decoration Interface
Name[fi]=Kalenteritekstin koristeluliitännäinen
Name[fr]=Interface de décoration d'agenda
Name[gl]=Interface de decoración de calendarios
Name[ia]=Interfacie de decoration de Calendario
Name[it]=Interfaccia di decorazione del calendario
Name[ja]=カレンダー装飾インターフェース
Name[ko]=달력 장식 인터페이스
Name[nb]=Grensesnitt til kalenderpynt
Name[nl]=Interface van agendadecoratie
Name[nn]=Grensesnitt til kalenderpynt
Name[pl]=Interfejs do ozdób kalendarza
Name[pt]=Interface de Decoração do Calendário
Name[pt_BR]=Interface de decoração do calendário
Name[ru]=Оформление календаря
Name[sk]=Rozhranie dekorácie kalendára
Name[sl]=Vmesnik za okraske koledarja
Name[sr]=Сучеље за декорацију календара
Name[sr@ijekavian]=Сучеље за декорацију календара
Name[sr@ijekavianlatin]=Sučelje za dekoraciju kalendara
Name[sr@latin]=Sučelje za dekoraciju kalendara
Name[sv]=Gränssnitt för kalenderdekoration
Name[tr]=Takvim Dekorasyon Arayüzü
Name[uk]=Інтерфейс оздоблення календаря
Name[x-test]=xxCalendar Decoration Interfacexx
Name[zh_CN]=日历装饰界面
Name[zh_TW]=行事曆裝飾介面
Type=ServiceType
X-KDE-ServiceType=Calendar/Decoration
Comment=Calendar Decoration Plugin
Comment[ar]=ملحقة زخرفة التّقاويم
Comment[ca]=Connector de decoració del calendari
Comment[ca@valencia]=Connector de decoració del calendari
Comment[cs]=Modul dekorace kalendáře
Comment[da]=Plugin til kalenderdekoration
Comment[de]=Dekoration für den Kalender
Comment[en_GB]=Calendar Decoration Plugin
Comment[es]=Complemento de decoración del calendario
Comment[et]=Kalendri dekoratsiooni plugin
Comment[eu]=Egutegia apaintzeko plugina
Comment[fi]=Kalenteritekstin koristeluliitännäinen
Comment[fr]=Module de décoration d'agenda
Comment[gl]=Complemento para a decoración do calendario
Comment[ia]=Plug-in de decoration de Calendario
Comment[it]=Estensione di decorazione del calendario
Comment[ja]=カレンダー装飾プラグイン
Comment[ko]=달력 장식 플러그인
Comment[nb]=Programtillegg for kalenderpynt
Comment[nl]=Agendadecoratieplug-in
Comment[nn]=Programtillegg for kalenderpynt
Comment[pl]=Wtyczka do ozdób kalendarza
Comment[pt]='Plugin' de Decoração do Calendário
Comment[pt_BR]=Plugin para decoração do calendário
Comment[ru]=Оформление календаря
Comment[se]=Kaleandarčiŋaid lassemoduvla
Comment[sk]=Modul pre skrášlenie kalendára
Comment[sl]=Vstavek za okraske koledarja
Comment[sr]=Прикључак за декорацију календара
Comment[sr@ijekavian]=Прикључак за декорацију календара
Comment[sr@ijekavianlatin]=Priključak za dekoraciju kalendara
Comment[sr@latin]=Priključak za dekoraciju kalendara
Comment[sv]=Insticksprogram för kalenderdekoration
Comment[tr]=Takvim Dekorasyon Eklentisi
Comment[uk]=Додаток прикрас календаря
Comment[x-test]=xxCalendar Decoration Pluginxx
Comment[zh_CN]=日历装饰插件
Comment[zh_TW]=行事曆裝飾附加元件
